@import url("./fonts/nunito/nunito.scss");

* {
	box-sizing: border-box;
	user-select: none;
	font-family: Nunito, Avenir, Arial, sans-serif;
}

html, body {
	min-height: 100vh;
	height: 100%;
	background-color: #F2F2F2;
	margin: 0;
	padding: 0;
	font-size: 18px;
}

#app, .root {
	width: 100%;
	height: 100%;
	min-height: 100vh;
}

.page__wrapper {
	min-height: 100vh;
	height: 100%;
}

.root {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.flex-left {
	margin-left: auto;
}

a {
	text-decoration: none;
	color: #676767;
}

.input-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

input[type="text"],
input[type="password"] {
	outline: none;
	border: 2px solid #FF7676;
	padding: 7px 13px;
	border-radius: 10px;
	font-size: 18px;
	width: 100%;
	background-color: #F2F2F2;
}

input:-webkit-autofill::first-line {
	font-size: 18px;
	font-family: Nunito, Avenir, Arial, sans-serif;
}

.Vue-Toastification__toast--default {
	background: linear-gradient(315deg, #f84e4e 0%, #f7288f 100%);
	color: #F2F2F2;
	font-family: Nunito, Avenir, Arial, sans-serif;
}
