$pinkGradient: linear-gradient(315deg, #FF7676 0%, #F54EA2 100%);
$redGradient:  linear-gradient(180deg, #FD0E42 0%, #C40F31 100%);
$pink: #FF7676;
$white: #F2F2F2;
$grey: #676767;
$red: #C40F31;
$green: rgb(77,158,70);
$anim: cubic-bezier(0.45, 0.05, 0.55, 0.95);